[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
environs = "*"
djangorestframework = "*"
djangorestframework-camel-case = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"

[dev-packages]
mixer = "*"
flake8 = "*"

[requires]
python_version = "3.9"
